﻿@page "/fetchdata"
@page "/fetchdata/{ip}"

<h1>@Ip</h1>

@functions {
    // Define a property to contain the parameter passed from the auth page
    [Parameter]
    public string Ip { get; set; }
}

@using AppiumLogsHandler.Model
@using AppiumLogsHandler.UI.Data
@inject AppiumLogsService AppiumLogsService

<h1>Appium Logs</h1>

@if (logs != null)
{
<p>Messages Count: @logs.Count</p>
}


@if (logs == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>TimeStamp</th>
                <th>Level</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var log in logs)
            {
                <tr>
                    <td>@log.CreationTime.ToString("dd/MM/yyyy HH:mm:ss.FFFFF")</td>
                    <td bgcolor=@GetColor(log.Level)>@log.Level</td>
                    <td>@log.Message</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<AppiumLogMessage> logs;

    protected override async Task OnInitializedAsync()
    {
        logs = (await AppiumLogsService.GetAllAppiumMessages(Ip)).ToList();
    }

    public static string GetColor(string messageLevel)
    {
        switch (messageLevel)
        {
            case "info":
                return "#228B22"; //green
            case "warning":
                return "#FFD700"; // yellow
            case "error":
                return "#B22222"; //red
            default:
                return "#A9A9A9"; //grey
        }
    }
}
