﻿@page "/"
@using AppiumLogsHandler.Model
@using AppiumLogsHandler.UI.Data
@inject AppiumLogsService AppiumLogsService
@inject NavigationManager NavigationManager

<h1>All machines with Appium servers:</h1>


@if (allmacminis == null)
{
    <p><em>Could not fetch macmini information...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var macmini in allmacminis)
            {
                <tr>
                    <td>
                        <img src="images/appium_ico3.jpg" alt="Image" width="150px" height="150px" @onclick="()=>NavigateToMacminiDetails(macmini.IpAddress)">
                        <p>@macmini.IpAddress</p>
                        <p>Appium version: <b>@macmini.ServerVersion</b></p>
                        <p>Last Appium server start: @macmini.StartTime</p>                    </td>
                </tr>
            }
        </tbody>
    </table>
}



@code {
    private IEnumerable<AppiumServerDetails> allmacminis;

    protected override async Task OnInitializedAsync()
    {
        allmacminis = await AppiumLogsService.GetAllMacminis();
    }

    private void NavigateToMacminiDetails(string ip)
    {
        NavigationManager.NavigateTo($"/fetchdata/{ip}");
    }

    private void NavigateToCounterComponent(string ip)
    {
        NavigationManager.NavigateTo("counter");
    }

}